$header-color: rgb(137, 137, 249);
$form-color: rgb(130, 239, 130);
$recent-activity-color: rgb(255, 215, 141);
$records-color: rgb(255, 140, 140);
$total-color: rgb(255, 153, 255);
$error-color: rgb(252, 46, 46);

$border-color: rgba(0, 0, 0, 0.414);

$main-font-color: rgb(38, 38, 38);