@import '../../styles/variables';

h1 {
    display: block;
    padding: 30px 0;
    margin-bottom: 10px;
    background-color: $header-color;
    border: $border-width solid $border-color;
    text-align: center;
    border-radius: $border-radius-big;
    -webkit-border-radius: $border-radius-big;
    -moz-border-radius: $border-radius-big;
    -ms-border-radius: $border-radius-big;
    -o-border-radius: $border-radius-big;
}